<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_0bL54K-tEeeGALiSEx7YLg" specification="interface:&#xA;// Define events and&#xA;// and variables here. &#xA;//Use CTRL + Space for content assist.&#xA;in event evTeclaXOprimida: integer&#xA;in event evTeclaXNoOprimida&#xA;operation opLED(LEDNumber:integer,&#xA;&#x9;State:boolean): void&#xA;&#xA;const LEDR: integer = 0&#xA;const LEDG: integer = 1&#xA;const LEDB: integer = 2&#xA;const LED1: integer = 3&#xA;const LED2: integer = 4&#xA;const LED3: integer = 5&#xA;&#xA;const LED_ON: boolean = false&#xA;const LED_OFF: boolean = true&#xA;&#xA;const TEC1: integer = 1 &lt;&lt; 0&#xA;const TEC2: integer = 1 &lt;&lt; 1&#xA;const TEC3: integer = 1 &lt;&lt; 2&#xA;const TEC4: integer = 1 &lt;&lt; 3&#xA;&#xA;&#xA;internal:&#xA;&#xA;event siTitilarLED&#xA;event siNoTitilarLED&#xA;event siTECXOK&#xA;&#xA;&#xA;var viTecla: integer&#xA;" name="PuertaCorrediza">
    <regions xmi:id="_-yGqYK-tEeeGALiSEx7YLg" name="TECLAS">
      <vertices xsi:type="sgraph:Entry" xmi:id="_-yGqYa-tEeeGALiSEx7YLg">
        <outgoingTransitions xmi:id="_-yGqYq-tEeeGALiSEx7YLg" target="_-yJGoK-tEeeGALiSEx7YLg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_-yJGoK-tEeeGALiSEx7YLg" name="NO_OPRIMIDAS" incomingTransitions="_-yGqYq-tEeeGALiSEx7YLg _-yhhIK-tEeeGALiSEx7YLg _-ybag6-tEeeGALiSEx7YLg">
        <outgoingTransitions xmi:id="_-yLi4a-tEeeGALiSEx7YLg" specification="evTeclaXOprimida" target="_-yOmMK-tEeeGALiSEx7YLg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_-yOmMK-tEeeGALiSEx7YLg" name="DEBOUNCE" incomingTransitions="_-yLi4a-tEeeGALiSEx7YLg">
        <outgoingTransitions xmi:id="_-yQbYa-tEeeGALiSEx7YLg" specification="after 50 ms" target="_-yXJEK-tEeeGALiSEx7YLg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_-yXJEK-tEeeGALiSEx7YLg" name="VALIDACION" incomingTransitions="_-yQbYa-tEeeGALiSEx7YLg">
        <outgoingTransitions xmi:id="_-yY-Qa-tEeeGALiSEx7YLg" specification="evTeclaXOprimida" target="_-yd2w6-tEeeGALiSEx7YLg"/>
        <outgoingTransitions xmi:id="_-ybag6-tEeeGALiSEx7YLg" specification="evTeclaXNoOprimida" target="_-yJGoK-tEeeGALiSEx7YLg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_-yd2w6-tEeeGALiSEx7YLg" specification="entry / raise siTECXOK;&#xA;viTecla = valueof (evTeclaXOprimida)" name="OPRIMIDAS" incomingTransitions="_-yY-Qa-tEeeGALiSEx7YLg">
        <outgoingTransitions xmi:id="_-yhhIK-tEeeGALiSEx7YLg" specification="evTeclaXNoOprimida" target="_-yJGoK-tEeeGALiSEx7YLg"/>
      </vertices>
    </regions>
    <regions xmi:id="_1ThlMK-vEeeGALiSEx7YLg" name="main">
      <vertices xsi:type="sgraph:State" xmi:id="_4WK20K-vEeeGALiSEx7YLg" name="CERRADO" incomingTransitions="_pspMMK-wEeeGALiSEx7YLg"/>
      <vertices xsi:type="sgraph:State" xmi:id="_5ps7QK-vEeeGALiSEx7YLg" name="ABRIENDO"/>
      <vertices xsi:type="sgraph:State" xmi:id="_7cDpsK-vEeeGALiSEx7YLg" name="ABIERTO"/>
      <vertices xsi:type="sgraph:State" xmi:id="_9HVfwK-vEeeGALiSEx7YLg" name="CERRANDO"/>
      <vertices xsi:type="sgraph:State" xmi:id="_ToHlEK-wEeeGALiSEx7YLg" name="STOP"/>
      <vertices xsi:type="sgraph:Entry" xmi:id="_oayiwK-wEeeGALiSEx7YLg">
        <outgoingTransitions xmi:id="_pspMMK-wEeeGALiSEx7YLg" specification="" target="_4WK20K-vEeeGALiSEx7YLg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_0bYHIK-tEeeGALiSEx7YLg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_0bL54K-tEeeGALiSEx7YLg" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_0b65sK-tEeeGALiSEx7YLg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_0b8u4K-tEeeGALiSEx7YLg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0b8u4a-tEeeGALiSEx7YLg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0b8u4q-tEeeGALiSEx7YLg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_0b9V8K-tEeeGALiSEx7YLg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0b9V8a-tEeeGALiSEx7YLg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0b-kEK-tEeeGALiSEx7YLg" x="10" y="10" width="243" height="567"/>
    </children>
    <children xmi:id="_-x_VoK-tEeeGALiSEx7YLg" type="Region" element="_-yGqYK-tEeeGALiSEx7YLg">
      <children xsi:type="notation:DecorationNode" xmi:id="_-x_Voa-tEeeGALiSEx7YLg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-x_Voq-tEeeGALiSEx7YLg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-x_Vo6-tEeeGALiSEx7YLg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_-x_VpK-tEeeGALiSEx7YLg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_-x_Vpa-tEeeGALiSEx7YLg" type="Entry" element="_-yGqYa-tEeeGALiSEx7YLg">
          <children xmi:id="_-x_Vpq-tEeeGALiSEx7YLg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_-x_Vp6-tEeeGALiSEx7YLg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_-x_VqK-tEeeGALiSEx7YLg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_-x_8sK-tEeeGALiSEx7YLg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_-x_8sa-tEeeGALiSEx7YLg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-x_8sq-tEeeGALiSEx7YLg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_-x_8s6-tEeeGALiSEx7YLg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_-x_8tK-tEeeGALiSEx7YLg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-x_8ta-tEeeGALiSEx7YLg" x="21" y="21"/>
        </children>
        <children xmi:id="_-x_8tq-tEeeGALiSEx7YLg" type="State" element="_-yJGoK-tEeeGALiSEx7YLg">
          <children xsi:type="notation:DecorationNode" xmi:id="_-x_8t6-tEeeGALiSEx7YLg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_-x_8uK-tEeeGALiSEx7YLg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_-x_8ua-tEeeGALiSEx7YLg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-x_8uq-tEeeGALiSEx7YLg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_-x_8u6-tEeeGALiSEx7YLg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-x_8vK-tEeeGALiSEx7YLg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-x_8va-tEeeGALiSEx7YLg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_-x_8vq-tEeeGALiSEx7YLg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_-x_8v6-tEeeGALiSEx7YLg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-x_8wK-tEeeGALiSEx7YLg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-x_8wa-tEeeGALiSEx7YLg" x="57" y="5"/>
        </children>
        <children xmi:id="_-x_8wq-tEeeGALiSEx7YLg" type="State" element="_-yOmMK-tEeeGALiSEx7YLg">
          <children xsi:type="notation:DecorationNode" xmi:id="_-x_8w6-tEeeGALiSEx7YLg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_-x_8xK-tEeeGALiSEx7YLg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_-x_8xa-tEeeGALiSEx7YLg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-x_8xq-tEeeGALiSEx7YLg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_-x_8x6-tEeeGALiSEx7YLg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-x_8yK-tEeeGALiSEx7YLg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-x_8ya-tEeeGALiSEx7YLg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_-x_8yq-tEeeGALiSEx7YLg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_-x_8y6-tEeeGALiSEx7YLg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-x_8zK-tEeeGALiSEx7YLg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-x_8za-tEeeGALiSEx7YLg" x="388" y="5"/>
        </children>
        <children xmi:id="_-x_8zq-tEeeGALiSEx7YLg" type="State" element="_-yXJEK-tEeeGALiSEx7YLg">
          <children xsi:type="notation:DecorationNode" xmi:id="_-x_8z6-tEeeGALiSEx7YLg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_-x_80K-tEeeGALiSEx7YLg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_-x_80a-tEeeGALiSEx7YLg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-x_80q-tEeeGALiSEx7YLg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_-x_806-tEeeGALiSEx7YLg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-x_81K-tEeeGALiSEx7YLg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-x_81a-tEeeGALiSEx7YLg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_-x_81q-tEeeGALiSEx7YLg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_-x_816-tEeeGALiSEx7YLg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-x_82K-tEeeGALiSEx7YLg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-x_82a-tEeeGALiSEx7YLg" x="381" y="117"/>
        </children>
        <children xmi:id="_-x_82q-tEeeGALiSEx7YLg" type="State" element="_-yd2w6-tEeeGALiSEx7YLg">
          <children xsi:type="notation:DecorationNode" xmi:id="_-x_826-tEeeGALiSEx7YLg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_-x_83K-tEeeGALiSEx7YLg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_-x_83a-tEeeGALiSEx7YLg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-x_83q-tEeeGALiSEx7YLg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_-x_836-tEeeGALiSEx7YLg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-x_84K-tEeeGALiSEx7YLg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-x_84a-tEeeGALiSEx7YLg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_-x_84q-tEeeGALiSEx7YLg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_-x_846-tEeeGALiSEx7YLg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-x_85K-tEeeGALiSEx7YLg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-x_85a-tEeeGALiSEx7YLg" y="117"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-x_85q-tEeeGALiSEx7YLg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_-x_856-tEeeGALiSEx7YLg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-x_86K-tEeeGALiSEx7YLg" x="264" y="10" width="505" height="224"/>
    </children>
    <children xmi:id="_1TlPkK-vEeeGALiSEx7YLg" type="Region" element="_1ThlMK-vEeeGALiSEx7YLg">
      <children xsi:type="notation:DecorationNode" xmi:id="_1TnEwK-vEeeGALiSEx7YLg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1TnEwa-vEeeGALiSEx7YLg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1Tnr0K-vEeeGALiSEx7YLg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_1ToS4K-vEeeGALiSEx7YLg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_4WQ9cK-vEeeGALiSEx7YLg" type="State" element="_4WK20K-vEeeGALiSEx7YLg">
          <children xsi:type="notation:DecorationNode" xmi:id="_4WSLkK-vEeeGALiSEx7YLg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_4WSLka-vEeeGALiSEx7YLg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_4WSyoK-vEeeGALiSEx7YLg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4WTZsK-vEeeGALiSEx7YLg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_4WUAwK-vEeeGALiSEx7YLg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4WUAwa-vEeeGALiSEx7YLg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4WUn0K-vEeeGALiSEx7YLg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_4WQ9ca-vEeeGALiSEx7YLg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_4WQ9cq-vEeeGALiSEx7YLg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_4WVO4K-vEeeGALiSEx7YLg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4WQ9c6-vEeeGALiSEx7YLg" x="265" y="7" width="145" height="49"/>
        </children>
        <children xmi:id="_5pzB4K-vEeeGALiSEx7YLg" type="State" element="_5ps7QK-vEeeGALiSEx7YLg">
          <children xsi:type="notation:DecorationNode" xmi:id="_5p03EK-vEeeGALiSEx7YLg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5p03Ea-vEeeGALiSEx7YLg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5p1eIK-vEeeGALiSEx7YLg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5p1eIa-vEeeGALiSEx7YLg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5p2sQK-vEeeGALiSEx7YLg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5p2sQa-vEeeGALiSEx7YLg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5p36YK-vEeeGALiSEx7YLg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5pzB4a-vEeeGALiSEx7YLg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5pzB4q-vEeeGALiSEx7YLg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5p36Ya-vEeeGALiSEx7YLg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5pzB46-vEeeGALiSEx7YLg" x="25" y="175" width="97" height="49"/>
        </children>
        <children xmi:id="_7cLlgK-vEeeGALiSEx7YLg" type="State" element="_7cDpsK-vEeeGALiSEx7YLg">
          <children xsi:type="notation:DecorationNode" xmi:id="_7cNasK-vEeeGALiSEx7YLg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7cNasa-vEeeGALiSEx7YLg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_7cNasq-vEeeGALiSEx7YLg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7cOBwK-vEeeGALiSEx7YLg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_7cOBwa-vEeeGALiSEx7YLg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7cOBwq-vEeeGALiSEx7YLg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7cPP4K-vEeeGALiSEx7YLg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7cLlga-vEeeGALiSEx7YLg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_7cLlgq-vEeeGALiSEx7YLg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_7cP28K-vEeeGALiSEx7YLg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7cLlg6-vEeeGALiSEx7YLg" x="289" y="343" width="97" height="49"/>
        </children>
        <children xmi:id="_9HepsK-vEeeGALiSEx7YLg" type="State" element="_9HVfwK-vEeeGALiSEx7YLg">
          <children xsi:type="notation:DecorationNode" xmi:id="_9HhtAK-vEeeGALiSEx7YLg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_9HhtAa-vEeeGALiSEx7YLg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_9HhtAq-vEeeGALiSEx7YLg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9HiUEK-vEeeGALiSEx7YLg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_9Hi7IK-vEeeGALiSEx7YLg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9Hi7Ia-vEeeGALiSEx7YLg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9HkJQK-vEeeGALiSEx7YLg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_9Hepsa-vEeeGALiSEx7YLg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_9Hepsq-vEeeGALiSEx7YLg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9HkJQa-vEeeGALiSEx7YLg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9Heps6-vEeeGALiSEx7YLg" x="577" y="165" width="157" height="61"/>
        </children>
        <children xmi:id="_ToZ48K-wEeeGALiSEx7YLg" type="State" element="_ToHlEK-wEeeGALiSEx7YLg">
          <children xsi:type="notation:DecorationNode" xmi:id="_TocVMK-wEeeGALiSEx7YLg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_TocVMa-wEeeGALiSEx7YLg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Toc8QK-wEeeGALiSEx7YLg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Toc8Qa-wEeeGALiSEx7YLg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_TodjUK-wEeeGALiSEx7YLg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TodjUa-wEeeGALiSEx7YLg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ToexcK-wEeeGALiSEx7YLg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ToZ48a-wEeeGALiSEx7YLg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ToZ48q-wEeeGALiSEx7YLg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_TofYgK-wEeeGALiSEx7YLg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ToZ486-wEeeGALiSEx7YLg" x="313" y="175" width="73" height="27"/>
        </children>
        <children xmi:id="_obEPkK-wEeeGALiSEx7YLg" type="Entry" element="_oayiwK-wEeeGALiSEx7YLg">
          <children xmi:id="_obGr0K-wEeeGALiSEx7YLg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_obIhAK-wEeeGALiSEx7YLg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_obIhAa-wEeeGALiSEx7YLg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_obJIEK-wEeeGALiSEx7YLg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_obGr0a-wEeeGALiSEx7YLg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_obGr0q-wEeeGALiSEx7YLg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_obEPka-wEeeGALiSEx7YLg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_obEPkq-wEeeGALiSEx7YLg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_obEPk6-wEeeGALiSEx7YLg" x="469" y="21"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1ToS4a-vEeeGALiSEx7YLg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_1TlPka-vEeeGALiSEx7YLg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1TlPkq-vEeeGALiSEx7YLg" x="276" y="240" width="781" height="421"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_0bYHIa-tEeeGALiSEx7YLg"/>
    <edges xmi:id="_-yqEAK-tEeeGALiSEx7YLg" type="Transition" element="_-yGqYq-tEeeGALiSEx7YLg" source="_-x_Vpa-tEeeGALiSEx7YLg" target="_-x_8tq-tEeeGALiSEx7YLg">
      <children xsi:type="notation:DecorationNode" xmi:id="_-yqEAa-tEeeGALiSEx7YLg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-yqEAq-tEeeGALiSEx7YLg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-yqEA6-tEeeGALiSEx7YLg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-yqEBK-tEeeGALiSEx7YLg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-yqEBa-tEeeGALiSEx7YLg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-yqEBq-tEeeGALiSEx7YLg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_-yqrEK-tEeeGALiSEx7YLg" type="Transition" element="_-yLi4a-tEeeGALiSEx7YLg" source="_-x_8tq-tEeeGALiSEx7YLg" target="_-x_8wq-tEeeGALiSEx7YLg">
      <children xsi:type="notation:DecorationNode" xmi:id="_-yqrEa-tEeeGALiSEx7YLg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-yqrEq-tEeeGALiSEx7YLg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-yqrE6-tEeeGALiSEx7YLg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-yqrFK-tEeeGALiSEx7YLg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-yqrFa-tEeeGALiSEx7YLg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-yqrFq-tEeeGALiSEx7YLg" points="[21, -5, -78, 22]$[100, -48, 1, -21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-yqrF6-tEeeGALiSEx7YLg" id="(0.9663865546218487,0.5471698113207547)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-yqrGK-tEeeGALiSEx7YLg" id="(0.011363636363636364,0.4528301886792453)"/>
    </edges>
    <edges xmi:id="_-yrSIK-tEeeGALiSEx7YLg" type="Transition" element="_-yQbYa-tEeeGALiSEx7YLg" source="_-x_8wq-tEeeGALiSEx7YLg" target="_-x_8zq-tEeeGALiSEx7YLg">
      <children xsi:type="notation:DecorationNode" xmi:id="_-yrSIa-tEeeGALiSEx7YLg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-yrSIq-tEeeGALiSEx7YLg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-yrSI6-tEeeGALiSEx7YLg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-yrSJK-tEeeGALiSEx7YLg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-yrSJa-tEeeGALiSEx7YLg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-yrSJq-tEeeGALiSEx7YLg" points="[-6, 0, 3, -64]$[-6, 64, 3, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-yrSJ6-tEeeGALiSEx7YLg" id="(0.6022727272727273,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-yrSKK-tEeeGALiSEx7YLg" id="(0.49019607843137253,0.018867924528301886)"/>
    </edges>
    <edges xmi:id="_-yr5MK-tEeeGALiSEx7YLg" type="Transition" element="_-yY-Qa-tEeeGALiSEx7YLg" source="_-x_8zq-tEeeGALiSEx7YLg" target="_-x_82q-tEeeGALiSEx7YLg">
      <children xsi:type="notation:DecorationNode" xmi:id="_-yr5Ma-tEeeGALiSEx7YLg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-yr5Mq-tEeeGALiSEx7YLg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-yr5M6-tEeeGALiSEx7YLg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-yr5NK-tEeeGALiSEx7YLg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-yr5Na-tEeeGALiSEx7YLg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-yr5Nq-tEeeGALiSEx7YLg" points="[1, 24, 149, 24]$[-148, 3, 0, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-yr5N6-tEeeGALiSEx7YLg" id="(0.08823529411764706,0.5094339622641509)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-yr5OK-tEeeGALiSEx7YLg" id="(1.0,0.5094339622641509)"/>
    </edges>
    <edges xmi:id="_-ysgQK-tEeeGALiSEx7YLg" type="Transition" element="_-yhhIK-tEeeGALiSEx7YLg" source="_-x_82q-tEeeGALiSEx7YLg" target="_-x_8tq-tEeeGALiSEx7YLg">
      <children xsi:type="notation:DecorationNode" xmi:id="_-ysgQa-tEeeGALiSEx7YLg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-ysgQq-tEeeGALiSEx7YLg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-ysgQ6-tEeeGALiSEx7YLg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-ysgRK-tEeeGALiSEx7YLg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-ysgRa-tEeeGALiSEx7YLg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-ysgRq-tEeeGALiSEx7YLg" points="[3, 0, 3, 64]$[3, -64, 3, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-ysgR6-tEeeGALiSEx7YLg" id="(0.4842105263157895,0.018867924528301886)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-ysgSK-tEeeGALiSEx7YLg" id="(0.49193548387096775,1.0)"/>
    </edges>
    <edges xmi:id="_-ytHUK-tEeeGALiSEx7YLg" type="Transition" element="_-ybag6-tEeeGALiSEx7YLg" source="_-x_8zq-tEeeGALiSEx7YLg" target="_-x_8tq-tEeeGALiSEx7YLg">
      <children xsi:type="notation:DecorationNode" xmi:id="_-ytHUa-tEeeGALiSEx7YLg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-ytHUq-tEeeGALiSEx7YLg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-ytHU6-tEeeGALiSEx7YLg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-ytHVK-tEeeGALiSEx7YLg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-ytHVa-tEeeGALiSEx7YLg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-ytHVq-tEeeGALiSEx7YLg" points="[0, -4, 126, 64]$[-127, -4, -1, 64]$[-127, -68, -1, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-ytHV6-tEeeGALiSEx7YLg" id="(0.00980392156862745,0.09433962264150944)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-ytHWK-tEeeGALiSEx7YLg" id="(1.0,1.0)"/>
    </edges>
    <edges xmi:id="_psuEsK-wEeeGALiSEx7YLg" type="Transition" element="_pspMMK-wEeeGALiSEx7YLg" source="_obEPkK-wEeeGALiSEx7YLg" target="_4WQ9cK-vEeeGALiSEx7YLg">
      <children xsi:type="notation:DecorationNode" xmi:id="_psvS0K-wEeeGALiSEx7YLg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_psvS0a-wEeeGALiSEx7YLg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_psv54K-wEeeGALiSEx7YLg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_psuEsa-wEeeGALiSEx7YLg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_psurwK-wEeeGALiSEx7YLg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_psuEsq-wEeeGALiSEx7YLg" points="[-7, 0, 89, 3]$[-91, -21, 5, -18]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ps31sK-wEeeGALiSEx7YLg" id="(0.8275862068965517,0.37735849056603776)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
